body {
    background: url(https://images.unsplash.com/photo-1505358131519-deb04e8e7ae3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 32px;
    font-size: 18px;
    color: #e0e06b

}

.main-container {
    margin-top: 350px;
    margin-left: 200px;
    background: #322863;
    width: 75%;
    height: auto;
}

h1 {
    font-size: 32px;
    font-weight: bolder;
}